aitch-tea-emm-ell {
	vertical-long: one-hundred-percent;
	backdrop-shade: skyblue;
}
torso {
	vertical-long: one-hundred-percent;
	writings-shade: ivory;
}
headline-one {
	writings-vertical-long: ten-root-em;
}
paragraph {
	around-space: zero;
}
